<section class="page-section clearfix">
    <div class="container">
        <div class="intro">
            <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="~/assets/img/intro.png" alt="..."/>
            <div class="intro-text left-0 text-center bg-faded p-5 rounded">
                <h2 class="section-heading mb-4">
                    <span class="section-heading-upper">Eşsiz Lezzetler</span>
                    <span class="section-heading-lower">HOŞGELDİNİZ!</span>
                </h2>
                <p class="mb-3">Sakarya'nın ilk mantı evi açıldı.</p>

            </div>
        </div>
    </div>
</section>
<section class="page-section cta">
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <div class="cta-inner bg-faded text-center rounded">
                    <h2 class="section-heading mb-4">
                        <span class="section-heading-upper">sözümüz</span>
                        <span class="section-heading-lower">size</span>
                    </h2>
                    <p class="mb-0">
                        Ravioli Mantı Evi’ne adım attığınız anda, sizi güler yüzlü hizmet, sıcak bir ortam ve özenle hazırlanmış lezzetlerle karşılamayı vaat ediyoruz. Her mantımız, en kaliteli malzemelerle ve büyük bir özenle hazırlanır.

                        Memnuniyetiniz bizim için her şeyden önemli. Eğer beklentilerinizi karşılayamazsak, bize söyleyin; sizin için elimizden gelenin en iyisini yapmaya söz veriyoruz!
                    </p>
                    <div class="mt-3">
                        <a href="https://www.instagram.com/mantieviravioli/" target="_blank" class="btn btn-instagram">
                            <img src="~/assets/img/instagram-6338393_1280.jpg" alt="Instagram" style="width:30px; vertical-align:middle; margin-right:5px;" />
                            mantieviravioli
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>