<section class="page-section about-heading">
    <div class="container">
        <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="~/assets/img/copysinop.png" alt="..." />
        <div class="about-heading-content">
            <div class="row">
                <div class="col-xl-9 col-lg-10 mx-auto">
                    <div class="bg-faded rounded p-5">
                        <h2 class="section-heading mb-4">
                            <span class="section-heading-upper">Bir Tabağa Dünyayı Sığdırdık</span>
                            <span class="section-heading-lower">Hakkımızda</span>
                        </h2>
                        <p>Ravioli Mantı Evi, geleneksel lezzetleri dünya mutfağıyla buluşturmak için Eylül 2025'te yola çıktı. İtalyan raviolisinden Kayseri mantısına, hingelden bohçaya uzanan geniş menümüzle, her damak zevkine hitap eden eşsiz tatlar sunuyoruz. Amacımız; sizi hem memleketin sıcacık sofralarına hem de dünyanın farklı mutfaklarına misafir etmek.</p>
                        <p class="mb-0">
                            Her tabakta özen, her lokmada samimiyet…
                            <em></em>
                            Bizim için mantı sadece bir yemek değil; paylaşmanın, sohbetin ve sıcacık anıların en güzel eşlikçisi.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>