<style>
    .product-buttons a {
        display: block; /* tüm genişliği kaplasın */
        padding: 12px 24px;
        font-size: 1.1rem;
        font-weight: bold;
        text-transform: uppercase;
        border-radius: 8px;
        text-decoration: none;
        background-color: #0c4128;
        color: #fff;
        text-align: center;
        transition: 0.3s;
    }

        .product-buttons a:hover {
            background-color: #145c3b;
        }
</style>

<!-- Ürün Butonları -->
<div class="container my-4">
    <div class="row g-3 product-buttons">
        <div class="col-12 col-md-3">
            <a href="/Home/Corbalar">ÇORBALAR</a>
        </div>
        <div class="col-12 col-md-3">
            <a href="/Home/Aparatifler">APERATİFLER</a>
        </div>
        <div class="col-12 col-md-3">
            <a href="/Home/Mantilar">MANTILAR</a>
        </div>
    </div>
</div>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">İtalya lezzeti</span>
                        <span class="section-heading-lower">İTALYAN MANTISI</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/assets/img/DSC01882.jpg" alt="..." />
           
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Anadolu lezzeti</span>
                        <span class="section-heading-lower">KAYSERİ MANTISI</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/assets/img/DSC01867.jpg" alt="..." />
      
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Orta Asya lezzeti</span>
                        <span class="section-heading-lower">ÖZBEK MANTISI</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/assets/img/DSC01868.jpg" alt="..." />

        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Karadeniz lezzeti</span>
                        <span class="section-heading-lower">SİNOP MANTISI</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/assets/img/DSC01871.jpg" alt="..." />
            
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Erzurum/Kafkas lezzeti</span>
                        <span class="section-heading-lower">HINGEL MANTI</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/assets/img/DSC01879.jpg" alt="..." />
           
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex me-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">İç Anadolu & Ege lezzeti</span>
                        <span class="section-heading-lower">BOHÇA MANTI</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/assets/img/DSC01870.jpg" alt="..." />
            
        </div>
    </div>
</section>
<section class="page-section">
    <div class="container">
        <div class="product-item">
            <div class="product-item-title d-flex">
                <div class="bg-faded p-5 d-flex ms-auto rounded">
                    <h2 class="section-heading mb-0">
                        <span class="section-heading-upper">Modern lezzet</span>
                        <span class="section-heading-lower">ÇITIR MANTI</span>
                    </h2>
                </div>
            </div>
            <img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="~/assets/img/DSC01875.jpg" alt="..." />
           
        </div>
    </div>
</section>